venv/
data/
pycache/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
temp_original_model.pt/
models_dir/
temp_original_model.pt
best_model.pt
original_model.pt
pii_model.pth
results/
